<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Kölcsönzés hozzáadása</title></head>
<body>
<h1>Új kölcsönzés hozzáadása</h1>
<form th:action="@{/add-loan}" th:object="${loan}" method="post">
    <label>Tag:
        <select th:field="*{member}" required>
            <option th:each="member : ${members}" th:value="${member}" th:text="${member.name}"></option>
        </select>
    </label><br>
    <label>Könyv:
        <select th:field="*{book}" required>
            <option th:each="book : ${books}" th:value="${book}" th:text="${book.title}"></option>
        </select>
    </label><br>
    <label>Kezdés (YYYY-MM-DD): <input type="text" th:field="*{startDate}" required/></label><br>
    <label>Lejárat (YYYY-MM-DD): <input type="text" th:field="*{dueDate}" required/></label><br><br>
    <button type="submit">Mentés</button>
</form>
<a href="/loans-page">Vissza</a>
</body>
</html>
