<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Könyvek listája</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1>Könyvek</h1>

<a href="/add-book">➕ Új könyv hozzáadása</a><br><br>

<table border="1">
    <tr>
        <th>Cím</th>
        <th>Szerző</th>
        <th>ISBN</th>
        <th>Megjelenés dátuma</th>
        <th>Elérhető</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.publishedDate}"></td>
        <td th:text="${book.available} ? 'Igen' : 'Nem'"></td>
        <td>
            <a th:href="@{'/edit-book/' + ${book.id}}">Szerkesztés</a> |
            <a th:href="@{'/delete-book/' + ${book.id}}" onclick="return confirm('Biztosan törlöd?')">Törlés</a>
        </td>
    </tr>

</table>
</body>
</html>
